* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: #F0F9F9;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 48px;
    text-align: center;
}

h3 {
    color: black;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ol {
    padding-left: 16px;
}

@media (min-width: 1279px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
    }
}

.navbar {
    padding: 10px 0;
    /* box-shadow: 0 2px 6px 0 rgb(0 0 0 / 15%); */
    box-shadow: 0 0 10px 1px hsl(0deg 0% 84% / 50%);
    background: #fff;
}

.navbar__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.recipeItem {
    margin-bottom: 50px;
    text-align: center;
    width: calc(25% - 1.5rem);
    aspect-ratio: 3/2;
    background: #fff;
}

.recipeItem h3 {
    margin-top: 20px;
}

.recipeDetails {
    margin: 0 auto;
}

.recipeDetails h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.recipeDetails img {
    margin: 0 auto;
    display: block;
}

.recipeDetails div {
    margin-bottom: 40px;
}

.recipeDetails__time {
    display: flex;
    text-align: center;
    justify-content: center;
}

.recipeDetails__time>span {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.recipeDetails__time>span:last-child {
    margin-right: 0;
}

.search {
    position: relative;
}

.search__input {
    padding: 10px 66px 10px 16px;
    border-color: rgb(0 0 0 / 50%);
    border-style: solid;
}

.search__input:focus {
    outline-color: #90E0EF;
}

.search__icon {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0px;
    width: 40px;
    line-height: 0;
    opacity: 0.5;
}

#notFound {
    text-align: center;
}

#recipeResultsFor {
    padding: 40px 0;
}